{% extends 'website/base.html' %}
{% load static %}

{% block title %}
Home-CityCare
{% endblock %}

{% block content %}

<marquee behavior="scroll" direction="left" scrollamount="8">
    📢 Announcement: Our New Cardiology & Neurology Wings are Now Open | 🚑 24×7 Ambulance Service | 💙 Advanced
    Diagnostic Center | 📅 Book Your Appointment Today
</marquee>
<!-- Hero Section -->
<section class="hero py-5">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <span class="badge bg-primary mb-3">Trusted Healthcare Since 2004</span>
                <h1 class="display-4 fw-bold mb-4">
                    Your Health Is Our <span class="text-primary">Top Priority</span>
                </h1>

                <p class="lead text-secondary mb-4">
                    Book appointments with experienced doctors,check your queue status in real-time,and recieve
                    quality healthcare-all from one place.
                </p>

                <div class="d-flex flex-wrap gap-3 mb-5">
                    <a href="appointment.html" class="btn btn-primary btn-lg">Appointment</a>
                    <a href="doctors.html" class="btn btn-outline-primary btn-lg">Find a Doctor</a>
                </div>

                <div class="row text-center mt-5">
                    <div class="col-md-4">
                        <h2 id="doctorCount">0</h2>
                        <p>Doctors</p>
                    </div>

                    <div class="col-md-4">
                        <h2 id="patientCount">0</h2>
                        <p>Happy Patients</p>
                    </div>

                    <div class="col-md-4">
                        <h2 id="experienceCount">0</h2>
                        <p>Years of Service</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 text-center">
                <img src="{% static 'images/hospital.avif' %}" class="img-fluid" alt="Hospital Image">
            </div>
        </div>
    </div>
</section>


<section class="services py-5 bg-light">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bold">
                Our Service
            </h2>

            <p class="text-muted">Access all hospital services from one place</p>
        </div>

        <div class="row">
            {% for service in services %}
                <div class="col-md-6 col-lg-3">
                    <div class="card border-0 shadow h-100 text-center p-4">
                        <div class="display-4">{{ service.icon }}</div>
                        <h3>{{ service.title }}</h3>
                        <p class="text-muted">
                            {{ service.description }}
                        </p>
                        <a href="{{ service.page }}" class="btn btn-primary">{{ service.render }}</a>
                    </div>
                </div>
            {% endfor %}     
        </div>
    </div>
</section>


<!-- Departments -->

<section class="departments py-5">
    <div class="container">

        <div class="text-center mb-5">
            <h2 class="fw-bold">
                Our Departments
            </h2>

            <p class="text-muted">
                We provide specialized healthcare services with experienced
                doctors and advanced medical facilities.
            </p>
        </div>

        <div class="row g-4">

            {% for department in departments %}

            <div class="col-md-6 col-lg-4">

                <div class="card border-0 shadow h-100">

                    <img src="{{ department.images.url }}" class="card-img-top" alt="{{ department.name }}"
                        style="height:220px; object-fit:cover;">

                    <div class="card-body">
                        <h4 class="text-center">{{ department.icon }}</h4>
                        <h4 class="mt-3 text-center">{{ department.name }}</h4>

                        <p class="text-muted">
                            {{ department.description }}
                        </p>

                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

    </div>
</section>

<!-- WHY CHOOSE US  -->

<section class="why-us py-5 bg-light mt-5">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold">
                Why Choose <span class="text-primary">CityCare Hospital?</span>
            </h2>

            <p class="text-muted">
                We combine experienced doctors, advanced technology, and compassionate care to ensure the best
                treatment for every patient.
            </p>

        </div>

        <div class="row g-4">

            <!-- Feature 1 -->
            {% for card in cards %}
                <div class="col-md-6 col-lg-4">

                    <div class="card border-0 shadow-sm h-100 text-center p-4">

                        <div class="fs-1 text-primary mb-3">
                            {{ card.icon }}
                        </div>

                        <h4>{{ card.title }}</h4>

                        <p class="text-muted">
                            {{ card.description }}
                        </p>

                    </div>

                </div>
            {% endfor %}

        </div>

    </div>

</section>

<!--HEALTH NEWS -->

<section class="health-news py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bold">
                Latest Health News
            </h2>
            <p class="text-muted">
                Stay updated with the latest healthcare news and medical discoveries.
            </p>
        </div>

        <div id="loader" class="text-center my-5">
            <div class="spinner-border text-primary" role="status">

            </div>
        </div>

        <div class="row g-4" id="newsContainer">

        </div>
    </div>
</section>

<!-- ===================== TESTIMONIALS ===================== -->

<section class="testimonials py-5 bg-light">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold">What Our Patients Say</h2>

            <p class="text-muted">
                Trusted by thousands of patients for quality healthcare.
            </p>

        </div>

        <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000">

            <!-- Indicators -->

            <div class="carousel-indicators">

                <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="0" class="active">
                </button>

                <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="1">
                </button>

                <button type="button" data-bs-target="#testimonialCarousel" data-bs-slide-to="2">
                </button>

            </div>

            <div class="carousel-inner">

                <!-- Testimonial 1 -->
                {% for testimonial in testimonials %}
                    <div class="carousel-item active">

                        <div class="card border-0 shadow-lg p-4 mx-auto" style="max-width:700px;">

                            <div class="text-center">

                                <img src="{{ testimonial.image.url }}" class="rounded-circle mb-3" width="90"
                                    height="90" alt="Patient">

                                <h4>{{ testimonial.name }}</h4>

                                <small class="text-primary">
                                    {{ testimonial.disease }}
                                </small>

                                <p class="mt-3">
                                    {% for i in "12345" %}
                                        {% if forloop.counter <= testimonial.rating %}
                                            ⭐
                                        {% endif %}
                                    {% endfor %}
                                </p>

                                <p class="lead">
                                    {{ testimonial.description }}
                                </p>

                            </div>

                        </div>

                    </div>
                {% endfor %}

                

            <!-- Previous Button -->

            <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel"
                data-bs-slide="prev">

                <span class="carousel-control-prev-icon"></span>

            </button>

            <!-- Next Button -->

            <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel"
                data-bs-slide="next">

                <span class="carousel-control-next-icon"></span>

            </button>

        </div>

    </div>

</section>

<!-- ===================== EMERGENCY CTA ===================== -->

<section class="emergency py-5 bg-primary text-white mt-5">

    <div class="container">

        <div class="row align-items-center">

            <!-- Left Side -->

            <div class="col-lg-8">

                <h2 class="fw-bold mb-3">
                    🚑 Need Emergency Medical Assistance?
                </h2>

                <p class="lead mb-0">
                    Our emergency team is available 24 hours a day, 7 days a week.
                    Call us immediately or request an ambulance online.
                </p>

            </div>

            <!-- Right Side -->

            <div class="col-lg-4 text-lg-end mt-4 mt-lg-0">

                <a href="tel:9234512673" class="btn btn-light btn-lg me-2">
                    📞 Call Now
                </a>

                <a href="appointment.html" class="btn btn-outline-light btn-lg">
                    Book Appointment
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}