{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}
Signup-CityCare
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="card shadow-lg border-0 rounded-4 p-4" style="max-width:550px; width:100%;">

        <div class="text-center mb-4">
            <i class="bi bi-hospital text-primary" style="font-size:55px;"></i>
            <h2 class="fw-bold mt-2">Create Account</h2>
            <p class="text-muted">
                Sign up to access the Hospital Queue Management System
            </p>
        </div>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} ">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form id="signupForm" method="POST">
            {% csrf_token %}


            <!-- Name -->
            <div class="mb-3">
                <label class="form-label fw-semibold">Username</label>
                <input type="text" class="form-control" id="name" name="username" placeholder="Enter a Username">
                <small id="nameError"></small>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label fw-semibold">Email Address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
                <small id="emailError"></small>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label fw-semibold">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Create password">
                <small id="passwordError"></small>
            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="form-label fw-semibold">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                    placeholder="Confirm password">
                <small id="confirmPasswordError"></small>
            </div>

            <button class="btn btn-primary w-100 py-2 fw-semibold">
                Create Account
            </button>

            <p id="signupMsg" class="text-center mt-3 fw-bold"></p>

            <hr>

            <p class="text-center mb-0">
                Already have an account?
                <a href="{% url 'accounts:login' %}" class="text-decoration-none fw-bold">
                    Login
                </a>
            </p>

        </form>

    </div>

</div>



{% endblock %}