{% extends 'doctors/base.html' %}
{% load static %}

{% block title %}
Department-CityCare
{% endblock %}

{% block content %}

    <!-- Hero Section -->
    <section class="department-hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <span>Healthcare Departments</span>
            <h1>Our Medical Departments</h1>
            <p>
                Discover our specialized medical departments dedicated to providing expert healthcare with advanced
                technology, experienced doctors, and compassionate patient care.
            </p>

            <div class="hero-btns">
                <a href="{% url 'appointments:appointments' %}"> <button class="btn btn-primary">Book Appointment</button></a>
                <a href="#alldepartments"><button class="btn btn-primary">Explore Departments</button></a>
            </div>
        </div>
    </section>


    <!-- All Departments -->
    <section class="py-5 bg-light" id="alldepartments">
        <div class="container">

            <div class="text-center mb-5">
                <span class="badge bg-primary px-4 py-3 mb-3 fs-5">
                    Medical Specialists
                </span>

                <h2 class="fw-bold mb-3">
                    Explore Our Departments
                </h2>

                <p class="text-muted w-75 mx-auto">
                    Our hospital offers specialized healthcare services delivered by experienced doctors using modern
                    medical technology.
                </p>
            </div>

            <div class="row g-4" id="departmentContainer">

                {% for card in cards %}
                    <div class="col-md-6 col-lg-4 department-card">
                        <div class="card shadow border-0 h-100 department-name">
                            <img src="{{ card.image.url }}" class="card-img-top h-[150px]">
                            <div class="card-body">
                                <h4>{{ card.title }}</h4>
                                <p class="justify-text text-muted">{{ card.description }}</p>
                                
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>

{% endblock %}